<h1></h1>


<div class="banner">
  <div class="banner-content">
    <h1>Find your perfect drink</h1>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
  </div>
</div>


<div class="container">
  <div class="row">
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-success btn-lg text-center"%>
    <div class="cocktails-cards">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to cocktail.name, cocktail_path(cocktail), class: "card" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
